.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html,
body {
  height: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.button {
  /* set button styles */
  transition: all 1s ease-in-out;
}

.App-link {
  color: #61dafb;
}
.navbar-brand span {
  font-size: small;
}
.navbar-nav {
  display: flex;
  justify-content: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #9cb3b9;
}
.center {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-text {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15;
  width: 100px;
  animation: typing 2s steps(50, end) forwards;
  white-space: nowrap;
  overflow: hidden;
  /* border-right: 2px solid gray; */
}

.headerText {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTest {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-left: 100px;
  margin-top: 15%;
}

.container1 {
  width: 104px;
  height: 120px;
  border: 3px solid grey;
  padding: 2px;
  cursor: default;
}

.container1:hover .photo {
  content: "Your text";
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.photo {
  height: 100px;
  width: 100px;
  transition: transform 0.5s ease-in-out;
}
.text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 5px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.container1:hover .text {
  opacity: 1;
}
.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
html {
  overflow-y: scroll;
}
.mainPage {
  background-image: linear-gradient(to right, #076585, #fff);
  background-size: cover;
  overflow: auto;
}
.projectHeader {
  margin-top: 30px;
}
.construction-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
.projectLine {
  height: 5px;
  border: none;
  background-color: black;
  size: 20px;
}
.card {
  position: relative;
  width: 300px;
  height: auto;
  transition: transform 0.5s;
  align-items: stretch;
  margin-left: 50px;
  margin-bottom: 80px;
}

.card .content {
  height: 200px;
  overflow: auto;
}

.card:hover {
  transform: translateZ(50px) scale(1.2);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 768px) {
  .card {
    margin-bottom: 0;
  }
}
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.under-construction {
  max-width: 800px;
  margin: 0 auto;
}

.under-construction h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.under-construction p {
  font-size: 18px;
  line-height: 1.5;
}
